/*
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

*/

@import "tailwindcss";
.hero{
    /* background-image: linear-gradient(90deg, rgb(237, 237, 237),rgb(236, 236, 236)),linear-gradient(135deg, rgb(163, 125, 62) 0%, rgb(163, 125, 62) 22%,rgb(149, 100, 59) 22%, rgb(149, 100, 59) 32%,rgb(134, 75, 56) 32%, rgb(134, 75, 56) 37%,rgb(120, 50, 53) 37%, rgb(120, 50, 53) 51%,rgb(105, 25, 50) 51%, rgb(105, 25, 50) 55%,rgb(91, 0, 47) 55%, rgb(91, 0, 47) 100%),linear-gradient(112.5deg, rgb(163, 125, 62) 0%, rgb(163, 125, 62) 22%,rgb(149, 100, 59) 22%, rgb(149, 100, 59) 32%,rgb(134, 75, 56) 32%, rgb(134, 75, 56) 37%,rgb(120, 50, 53) 37%, rgb(120, 50, 53) 51%,rgb(105, 25, 50) 51%, rgb(105, 25, 50) 55%,rgb(91, 0, 47) 55%, rgb(91, 0, 47) 100%),linear-gradient(90deg, rgb(163, 125, 62) 0%, rgb(163, 125, 62) 22%,rgb(149, 100, 59) 22%, rgb(149, 100, 59) 32%,rgb(134, 75, 56) 32%, rgb(134, 75, 56) 37%,rgb(120, 50, 53) 37%, rgb(120, 50, 53) 51%,rgb(105, 25, 50) 51%, rgb(105, 25, 50) 55%,rgb(91, 0, 47) 55%, rgb(91, 0, 47) 100%); background-blend-mode:overlay, overlay, overlay, normal; */
    /* background-image: linear-gradient(124deg, rgba(232, 252, 33, 0.46) 0%, rgba(232, 252, 33, 0.46) 14.286%,rgba(196, 218, 49, 0.46) 14.286%, rgba(196, 218, 49, 0.46) 28.572%,rgba(161, 185, 64, 0.46) 28.572%, rgba(161, 185, 64, 0.46) 42.858%,rgba(125, 151, 80, 0.46) 42.858%, rgba(125, 151, 80, 0.46) 57.144%,rgba(89, 117, 96, 0.46) 57.144%, rgba(89, 117, 96, 0.46) 71.43%,rgba(54, 84, 111, 0.46) 71.43%, rgba(54, 84, 111, 0.46) 85.716%,rgba(18, 50, 127, 0.46) 85.716%, rgba(18, 50, 127, 0.46) 100.002%),linear-gradient(316deg, rgb(248, 151, 43) 0%, rgb(248, 151, 43) 14.286%,rgb(246, 132, 46) 14.286%, rgb(246, 132, 46) 28.572%,rgb(243, 113, 49) 28.572%, rgb(243, 113, 49) 42.858%,rgb(241, 94, 52) 42.858%, rgb(241, 94, 52) 57.144%,rgb(239, 75, 55) 57.144%, rgb(239, 75, 55) 71.43%,rgb(236, 56, 58) 71.43%, rgb(236, 56, 58) 85.716%,rgb(234, 37, 61) 85.716%, rgb(234, 37, 61) 100.002%); */
    background-image: linear-gradient(45deg, rgb(241, 121, 22) 0%, rgb(241, 121, 22) 12%,rgb(219, 114, 22) 12%, rgb(219, 114, 22) 29%,rgb(197, 107, 23) 29%, rgb(197, 107, 23) 30%,rgb(175, 100, 23) 30%, rgb(175, 100, 23) 33%,rgb(152, 94, 24) 33%, rgb(152, 94, 24) 51%,rgb(130, 87, 24) 51%, rgb(130, 87, 24) 77%,rgb(108, 80, 25) 77%, rgb(108, 80, 25) 95%,rgb(86, 73, 25) 95%, rgb(86, 73, 25) 100%),linear-gradient(135deg, rgb(241, 121, 22) 0%, rgb(241, 121, 22) 12%,rgb(219, 114, 22) 12%, rgb(219, 114, 22) 29%,rgb(197, 107, 23) 29%, rgb(197, 107, 23) 30%,rgb(175, 100, 23) 30%, rgb(175, 100, 23) 33%,rgb(152, 94, 24) 33%, rgb(152, 94, 24) 51%,rgb(130, 87, 24) 51%, rgb(130, 87, 24) 77%,rgb(108, 80, 25) 77%, rgb(108, 80, 25) 95%,rgb(86, 73, 25) 95%, rgb(86, 73, 25) 100%),linear-gradient(135deg, rgb(241, 121, 22) 0%, rgb(241, 121, 22) 12%,rgb(219, 114, 22) 12%, rgb(219, 114, 22) 29%,rgb(197, 107, 23) 29%, rgb(197, 107, 23) 30%,rgb(175, 100, 23) 30%, rgb(175, 100, 23) 33%,rgb(152, 94, 24) 33%, rgb(152, 94, 24) 51%,rgb(130, 87, 24) 51%, rgb(130, 87, 24) 77%,rgb(108, 80, 25) 77%, rgb(108, 80, 25) 95%,rgb(86, 73, 25) 95%, rgb(86, 73, 25) 100%),linear-gradient(90deg, rgb(199, 181, 128),rgb(162, 8, 93)); background-blend-mode:overlay,overlay,overlay,normal;
}